#my-app {
  position: absolute;
  top: 20px;
  left: 20px;
  right: auto;
  /* margin:auto; */
  width: 400px;
  height: 800px;
  background-color: #AFF;
}

.timeline {
  position:relative;
  /* background-color: yellow; */
  border: solid 1px red;
  /* border: 1px 1px 1px 1px; */
}

.timeline-bg {
  position: absolute;
  top:0;
  left:0;
}

.marquee-rect{
  position: absolute;
  background-color: aquamarine;
  pointer-events: none;
}

.keyframe {
  position: absolute;
  top:4px;
  width: 10px;
  height: 12px;
  background-color: cyan;
  /* pointer-events: none; */
}

.keyframe.selected {
  background-color: blue;
}
