body{
  background-color: black;
}

#my-app {
  position: absolute;
  bottom:0;
  background-color: #AFF;
  height:200px;
  display:grid;
  grid-template-columns: 200px auto 200px;
  grid-template-areas: "name-label timeline inspector";
}

#name-label-group
{
  grid-area:"name-label";
  position:relative;
  background-color:gray;
}

#timeline-group
{
  grid-area:"timeline";
  position:relative;
  background-color: #EEE;
  overflow: scroll;
}

#inspector
{
  grid-area:"inspector";
}

.timeline {
  position:relative;
}

.timeline-bg {
  position: absolute;
  top:0;
  left:0;
}

.marquee-rect{
  position: absolute;
  background-color: aquamarine;
  pointer-events: none;
}

.name-label
{
  background-color: yellow;
}

.name-label.selected
{
  background-color: red;
}

.keyframe {
  position: absolute;
  top:4px;
  width: 10px;
  height: 12px;
  background-color: cyan;
  /* pointer-events: none; */
}

.keyframe.selected {
  background-color: blue;
}
