body {
  background-color: black;
}

.btn {
  border: none;
  background-color: #20292b;
  color: #b1b8ba;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#three-container {
  width: 100%;
  height: 80%;
}

#three-container > canvas {
  width: 100% !important;
}
