body {
  background-color: black;
}

#my-app {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #aff;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-areas:
    "controller controller controller"
    "model-selector timebar inspector"
    "name-label timeline inspector";
}

#three-container {
  width: 100%;
  height: 80%;
}

#three-container > canvas {
  width: 100% !important;
}

#controller {
  grid-area: controller;
}

#modelSelector {
  grid-area: model-selector;
}

#name-label-group {
  grid-area: name-label;
  position: relative;
  background-color: gray;
}

#timebar {
  grid-area: timebar;
  background-color: green;
  position: relative;
  overflow: hidden;
}

#timeline-group {
  grid-area: timeline;
  position: relative;
  background-color: #eee;
  overflow: auto;
}

#inspector {
  grid-area: inspector;
}

#inspector > .select-type {
  background-color: yellow;
}

.timeline {
  position: relative;
}

.timeline-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.marquee-rect {
  position: absolute;
  background-color: aquamarine;
  pointer-events: none;
}

.name-label {
  background-color: yellow;
}

.name-label.selected {
  background-color: red;
}

.keyframe {
  position: absolute;
  top: 4px;
  width: 10px;
  height: 12px;
  background-color: cyan;
  /* pointer-events: none; */
}

.keyframe.selected {
  background-color: blue;
}

.time-pos {
  position: absolute;
  top: 0;
  left: 10px;
  width: 1px;
  height: 100%;
  background-color: red;
  pointer-events: none;
}
